body {
    font-family: 'Roboto', sans-serif;
}


/* navbar */
.navbar {
    height: 100px;
}
.nav-link {
    color: #FFC000!important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar li {
    padding-right: 20px;
}

.navbar .btn, .courses .btn, .newsletter .btn {
    border-radius: 100px;
    width: 120px;
    background:  linear-gradient(237.65deg, #FFC000 1.55%, #FF8A00 95.8%);
    border-color:  #FFC000;
}

/* jumbotron */
h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 158.34%; 
}

.jumbotron {
    background-image: url('../img/Hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: white;
}

.jumbotron .btn, .stories .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background: #FFF7DF;
    border-color:  #FFF7DF;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}


/* services */
.services {
    min-height: 560px;
    background: #FFF7DF;
    text-align: center;
    color: #5C5C5C;
}

h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 158.34%;
    color: #FF8A00;
}

h6 {
    font-weight: 900;
    font-size: 20px;
    line-height: 182.7%;
}

@font-face {
    font-family : 'Proxima Nova';
    src: url('../font/proxima/ProximaNova-Regular.otf')format('opentype');
}

p, .courses a , .contact p {
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
   
}

/* stories */
.stories {
    min-height: 832px;
    background-image: url('../img/stories.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.stories p {
    line-height: 175.78%;
}

/* courses */
.courses {
    min-height: 1126px;
}

.courses a {
    text-decoration: none;
    color: #5C5C5C;
    padding-right: 2%;
}

.courses .card {
    height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.courses img {
    height: 70%;
    padding: 5px;
}

.courses .card-body , .courses .card-top {
    background: linear-gradient(219.26deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-weight: 900;
    font-size: 14px;
    line-height: 152.34%;
    color: #ffffff;
}

.courses .card-top {
    width: 70px;
    height: 33px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

/* achievement */
.achievement {
    min-height: 298px;
    background: linear-gradient(23.98deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

/* testimonials */
.testimonials {
    min-height: 641px;
    color: #5C5C5C;
}

.testimonials .card {
    border-radius: 5px;
}

.testimonials h5 {
    font-weight: 900;
    font-size: 16px;
    line-height: 105.47%;
}

.testimonials .card-text {
    line-height: 175.78%;
    text-align: justify;
}

.testimonials h1 {
    color: #FF8A00;
}

.testimonials .card:hover {
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 5px;
}

/* newsletter */
.newsletter {
    min-height: 533px;
    background-image: url('../img/background.svg');
    position: relative;
}

.newsletter .display-h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FF8A00;
    margin-top: 150px;
}

.newsletter .btn {
    width: 160px;
}
.newsletter .imgs {
    position: absolute;
    left: 0;
    top: 0;
}

/* contact */
.contact {
    min-height: 314px;
    background: #212121;
    color: white;
    padding: 20px;
}

.contact li {
    list-style: none;
}

